# dependencies
/node_modules

# testing
/coverage

# build
/dist
/build
/.next/
/out/
/docs
# misc
.DS_Store
*.pem
*.tsbuildinfo
AGENTS.md
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# env
.env*

# tauri
src-tauri/target

# ide
.idea
.vscode
.agents/
.claude/

